*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: inline-block;
  height: 70px;
  padding: 0 30px;
  background: #1dd1a1;
  border: none;
  font-size: 30px;
  line-height: 1.5;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}
