* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header,footer {
  position: fixed;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100;
}

header {
  top: 0;
  height: 80px;
  background: cornflowerblue;
}

h1 {
  color: #fff;
}

footer {
  bottom: 0;
  height: 50px;
  background: slategrey;
  color: #fff;
}

.keep-note {
  display: block;
  width: 100vw;
  height: 100vh;
  background: whitesmoke;
  padding: 80px 0 50px;
  overflow: auto;
  overflow-x: hidden;
}

.create-note {
  display: block;
  margin:  50px auto;
  width: 400px;
  padding: 30px;
  background: #ffffff;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  position: relative;
}

input, textarea {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}

textarea {
  height: 80px;
}

button {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  font-size: 20px;
  line-height: 1;
  background: #FFC107;
  cursor: pointer;
}

.note-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 30px;
}

.note {
  width: 100%;
  background: #ffffff;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  position: relative;
}

h4 {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.note p {
  font-size: 14px;
  line-height: 1.5;
}

.delete-note {
  position: absolute;
  bottom: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  cursor: pointer;
  color: #ff0000;
  transition: 0.3s;
}

.delete-note:hover {
  background: #ff0000;
  color: #ffffff;
}